/* -- HEADER -- */
.navbar{
	margin-bottom: 0;
}

.jumbotron-kd{
	padding: 20px 0;
}

#columna1 {
	width: 70%;
	float: left;
	position: relative;
}

#columna2 {
	width: 25%;
	float: right;
	position: relative;
}

#perfil {
	float: right;
}