/* -- HEADER -- */
.navbar{
	margin-bottom: 0;
}

.jumbotron-kd{
	padding: 20px 0;
}

#columna1 {
	width: 70%;
	float: left;
	position: relative;
}

#columna2 {
	width: 25%;
	float: right;
	position: relative;
}

#nuevaReceta {
	float: right;
}

#preparacion {
	min-width: 300px;
	max-width: 500px;
	min-height: 135px;
	max-height: 200px; 
}

#nombreDeReceta {
	width: 300px;
}

#ingrediente {
	width: 150px;
}

#calorias {
	width: 150px;
}

#condimento {
	width: 300px;
}

#dificultad {
	width: 300px;
}